<h4>Name:</h4>
<input type="text" class="form-control" disabled placeholder="<%= @mailing.name %>"/>
<h4>Subject:</h4>
<input type="text" class="form-control" disabled placeholder="<%= @mailing.subject %>"/>
<h4>Body - HTML</h4>
<textarea class="form-control" rows="10" disabled placeholder="<%= @mailing.body_html %>">
</textarea>